.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.modal-content {
  text-align: center;
  margin: 0 auto;
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
}
.close-btn {
  position: absolute;
  top: 42%;
  right: 40.5%;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}
